.product-evol {
  background-color: #10ac84;
  text-align: center;
  padding: 2rem 0 2rem 0;
}
.card {
  margin: 0 0rem 1rem 0rem;
  box-shadow: 4px 4px 4px #a3a4a5;
  transition: all .5s ease-in-out;
  &:hover{
    opacity: 0.8;
  }
}
.pagination {
  justify-content:  center;
}