{% extends './layout/layout.html' %}
{% block content %}
<div class="container about-evol">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
  </nav>
  <h1 class="title-about">Câu chuyện của Evol</h1>
  <article>
    <h2 class="title-content">Tầm nhìn</h2>

    <article class="article">
      <div class="row">
        <div class="col-md-6 order-1">
          <p class="about-evol__txt">Với mong muốn đem lại môi trường giáo dục lối sống xanh cho giới trẻ, nhà sáng lập
            và các tình nguyện viên của tổ chức
            sẽ phấn đấu từng ngày để xây dựng một EVOL ngày càng lớn mạnh hơn trong việc giáo dục vì cộng đồng.
            Trở thành tổ chức uy tín nhất trong xã hội tại khu vực hoạt động phía Nam nói riêng và trên toàn thế giới
            nói
            chung.
            Nâng cao ý thức người dân về môi trường và hình thành lối sống văn minh, sạch đẹp hơn cho những nơi mà EVOL
            đến.</p>
        </div>
        <div class="col-md-6 mb-3">
          <img src="{{img_path}}/liveee.jpg" width="500" class="about-evol__img">
        </div>
      </div>
    </article>
    <h2 class="title-content">Title</h2>
    <article class="article">
      <div class="row">
        <div class="col-md-6 order-1">
          <p class="about-evol__txt">Với mong muốn đem lại môi trường giáo dục lối sống xanh cho giới trẻ, nhà sáng lập
            và các tình nguyện viên của tổ chức
            sẽ phấn đấu từng ngày để xây dựng một EVOL ngày càng lớn mạnh hơn trong việc giáo dục vì cộng đồng.
            Trở thành tổ chức uy tín nhất trong xã hội tại khu vực hoạt động phía Nam nói riêng và trên toàn thế giới
            nói
            chung.
            Nâng cao ý thức người dân về môi trường và hình thành lối sống văn minh, sạch đẹp hơn cho những nơi mà EVOL
            đến.</p>
        </div>
        <div class="col-md-6 mb-3">
          <img src="{{img_path}}/liveee.jpg" width="500" class="about-evol__img">
        </div>
      </div>
    </article>
    <h2 class="title-content">Môi trường</h2>
    <article class="article">
      <div class="row">
        <div class="col-md-6 order-1">
          <p class="about-evol__txt">Với mong muốn đem lại môi trường giáo dục lối sống xanh cho giới trẻ, nhà sáng lập
            và các tình nguyện viên của tổ chức
            sẽ phấn đấu từng ngày để xây dựng một EVOL ngày càng lớn mạnh hơn trong việc giáo dục vì cộng đồng.
            Trở thành tổ chức uy tín nhất trong xã hội tại khu vực hoạt động phía Nam nói riêng và trên toàn thế giới
            nói
            chung.
            Nâng cao ý thức người dân về môi trường và hình thành lối sống văn minh, sạch đẹp hơn cho những nơi mà EVOL
            đến.</p>
        </div>
        <div class="col-md-6 mb-3">
          <img src="{{img_path}}/liveee.jpg" width="500" class="about-evol__img">
        </div>
      </div>
    </article>

  </article>
</div>
{% endblock %}