{% extends './layout/layout.html' %}
{% block content %}
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Contact</li>
    </ol>
  </nav>
  <div class="row">

    <div class="contact-form col-md-6">
      <h1 class="title">Contact Us</h1>
      <h2 class="subtitle">We are here assist you.</h2>
      <form>
        <div class="contact-form">
          <div class="form-group">
            <label class="control-label col-sm-3" for="fname">First Name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="lname">Last Name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="email">Email:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="comment">Comment:</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 btn-style">
              <button type="submit" class="btn btn-default ">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="map col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3924.5512234353005!2d107.10764795084981!3d10.377721992556474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317571d31cfb69b7%3A0x6aad40f1759dda40!2zNDE5QSwgMjkwLzYgTmd1eeG7hW4gSOG7r3UgQ-G6o25oLCBOZ3V54buFbiBBbiBOaW5oLCBUaMOgbmggcGjhu5EgVsWpbmcgVOG6p3UsIELDoCBS4buLYSAtIFbFqW5nIFTDoHUsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1550549037108"
        width="100%" height="650px" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
  <h3>Liên Hệ</h3>
  <span class="contact-style">Địa chỉ công ty:</span>&nbsp;<span>419A/6 Nguyễn Hữu Cảnh, phường 10, Tp. Vũng Tàu, BRVT</span><br>
  <span class="contact-style">Số điện thoại:</span>&nbsp;<span>09xxxxxxx</span><br>
  <span class="contact-style">Địa chỉ Facebook:</span>&nbsp;<a class="contact-style__link" href="https://www.facebook.com/evolvietnamorg/?epa=SEARCH_BOX" target="_blank">Evol VietNam</a><br>
  <span class="contact-style">Địa chỉ Email:</span>&nbsp;<span>evolprojectvietnam@gmail.com</span><br>
  <span class="contact-style">Địa chỉ Instagram:</span>&nbsp;<a class="contact-style__link" href="https://www.instagram.com/evol_vietnam/" target="_blank">Evol VietNam</a>
</div>
{% endblock %}