{% extends './layout/layout.html' %}
{% block content %}
<section class="detail-product">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-style">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Product</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detail</li>
      </ol>
    </nav>
    <div class="row title-detailproduct">
      <div class="col-md-12 order-1">
        <h2>Cải Ngọt</h2>
        <img src="http://sohanews.sohacdn.com/thumb_w/660/2016/rau-cai-ngot-mbfw-1478156433519-0-43-319-556-crop-1478156450239.jpg">

      </div>
    </div>
    <h4>Thông tin sản phẩm</h4>
    <ul class="listMenu">
      <li>Giá:&nbsp;<span>200.000vnđ/kg</span></li>
      <li>Xuất xứ:&nbsp;<span>Giống cải ngọt Đà Lạt</span></li>
      <li>v.v...</li>
    </ul>
    <h4>Thông tin liên hệ</h4>
      <ul class="listMenu">
        <li>Số điện thoại:&nbsp;<span>09xxxxxxx</span></li>
        <li>Facebook:&nbsp;<a href="https://www.facebook.com/evolvietnamorg/" target="_blank">Evol VietNam</a></li>
        <li>Instagram:&nbsp;<a href="https://www.instagram.com/evol_vietnam/" target="_blank">Evol VietNam</a></li>
      </ul>
    <div class="description">
      <h3>Description</h3>
      <article>
        <p>Tiêu thụ rau xanh hàng ngày sẽ giúp tăng cường thị lực, kiểm soát cân nặng, ngăn ngừa ung thư và phòng
          chống các vấn đề về tim mạch.<br>

          Theo Boldsky, chế độ ăn uống hàng ngày của con người nên bao gồm rau củ quả, đặc biệt là rau lá xanh cùng
          nhiều mặt
          hàng thực phẩm khác. Nó được gọi là thực phẩm kỳ diệu vì chứa tất cả các chất dinh dưỡng lành mạnh, thiết
          yếu cho cơ
          thể như vitamin, khoáng chất, canxi, sắt, chất xơ...<br>

          Ngoài việc giúp bạn giảm cân, rau xanh giảm nguy cơ bệnh tiểu đường, tăng huyết áp và ung thư. Nhưng làm
          thế nào để
          tiêu thụ nhiều rau xanh mỗi ngày? Một số nghiên cứu khuyên bạn nên ăn 2-3 chén rau (nấu, hấp, chiên, xào,
          hay ăn sống)
          mỗi ngày cho người trưởng thành là tốt nhất.<br>
          Theo The Health Site, tất cả các loại rau xanh đều hữu ích trong việc cải thiện thị lực. Chúng có hàm
          lượng lutein và
          zeaxanthin cao, các thành phần quan trọng cho đôi mắt, bảo vệ các điểm vàng, ngăn chặn thiệt hại do ánh
          sáng xanh.<br>
          Chúng cũng giúp ngăn ngừa các bệnh về mắt như đục thủy tinh thể, thoái hóa điểm vàng do lão hóa. Ngoài
          ra, cơ thể con
          người chuyển đổi beta-carotein trong rau lá xanh thành vitamin A, giảm nguy cơ mắc bệnh quáng gà.
          Rau lá xanh rất ít calo, nhiều dinh dưỡng. Chúng là một trong số ít thực phẩm bạn có thể ăn nhiều mà vẫn
          giảm cân. Vì
          vậy, chúng được khuyến khích bổ sung vào bữa ăn hàng ngày, đặc biệt là bữa trưa để kiểm soát trọng lượng
          cơ thể dễ dàng
          hơn.</p>
      </article>
    </div>
    <div class="another-product">
      <h3 class="title-another-product">Sản phẩm liên quan</h3>
      <ul class="row listMenu justify-content-center">
        <li class="col-md-3 px-md-3 px-0">
          <div class="card">
            <a href="#"><img class="card-img-top" src="http://sohanews.sohacdn.com/thumb_w/660/2016/rau-cai-ngot-mbfw-1478156433519-0-43-319-556-crop-1478156450239.jpg"
                alt="Card image cap"></a>
            <div class="card-body">
              <a href="#">
                <h5 class="card-title">Product name</h5>
              </a>
              <span>$20.00</span>
            </div>

          </div>
        </li>
        <li class="col-md-3 px-md-3 px-0">
          <div class="card">
            <a href="#"><img class="card-img-top" src="http://sohanews.sohacdn.com/thumb_w/660/2016/rau-cai-ngot-mbfw-1478156433519-0-43-319-556-crop-1478156450239.jpg"
                alt="Card image cap"></a>
            <div class="card-body">
              <a href="#">
                <h5 class="card-title">Product name</h5>
              </a>
              <span>$20.00</span>
            </div>

          </div>
        </li>
        <li class="col-md-3 px-md-3 px-0">
          <div class="card">
            <a href="#"><img class="card-img-top" src="http://sohanews.sohacdn.com/thumb_w/660/2016/rau-cai-ngot-mbfw-1478156433519-0-43-319-556-crop-1478156450239.jpg"
                alt="Card image cap"></a>
            <div class="card-body">
              <a href="#">
                <h5 class="card-title">Product name</h5>
              </a>
              <span>$20.00</span>
            </div>

          </div>
        </li>
        <li class="col-md-3 px-md-3 px-0">
          <div class="card">
            <a href="#"><img class="card-img-top" src="http://sohanews.sohacdn.com/thumb_w/660/2016/rau-cai-ngot-mbfw-1478156433519-0-43-319-556-crop-1478156450239.jpg"
                alt="Card image cap"></a>
            <div class="card-body">
              <a href="#">
                <h5 class="card-title">Product name</h5>
              </a>
              <span>$20.00</span>
            </div>

          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}