{% extends './layout/layout.html' %}
{% block content %}
<section>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-style">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Blog</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detail</li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-md-9">
        <article class="article-blog">
          <h1>“Đập tan” mỡ bụng sau những ngày Tết với 3 loại thực phẩm sau</h1>
          <h6><span class="Categories">Đời sống</span><span class="time-post"> 10:00 20/2/2019</span></h6>
          <h3>Tết với những bữa tiệc tùng đầy dầu mỡ khiến trọng lượng cơ thể tăng nhanh chóng và tích tụ nhiều mỡ, đặc
            biệt là vùng
            bụng. Những loại thực phẩm sau sẽ giúp bạn lấy lại vóc dáng thon gọn nhanh chóng và an toàn nhất.</h3>
          <img src="http://cafefcdn.com/thumb_w/650/2017/7-1485867081986.jpg">
          <h4>Các loại ngũ cốc</h4>
          <p>Nghiên cứu của Tạp chí Dinh dưỡng Lâm sàng cho thấy, những người ăn nhiều ngũ cốc trong khẩu phần ăn hàng
            ngày
            có thể
            giảm tới 10% mô mỡ (đặc biệt ở vùng bụng) so với người ít ăn ngũ cốc. Hãy tìm mua những loại ngũ cốc 100%
            nguyên hạt,
            thay vì những loại pha lẫn hoặc chứa nhiều tinh bột.</p>
          <img src="http://cafefcdn.com/thumb_w/640/2017/1-1485867173945.jpg">
          <h4>Rau cải xanh</h4>
          <p>Các loại rau cải xanh đều chứa hàm lượng canxi và chất xơ cao. Canxi có trong rau cải xanh có thể làm giảm
            sản
            xuất
            cortisol, hormone stress liên kết với chất béo bụng. Ngoài ra, bạn có thể bổ sung thêm sữa chua, đậu phụ
            hoặc
            cá mòi.</p>
          <img src="http://cafefcdn.com/thumb_w/640/2017/2-1485867187407.jpg">
          <h4>Cá hồi</h4>
          <p>Trong cá hồi chứa nhiều chất béo không bão hòa đa. Không giống như chất béo bão hòa chủ yếu tập trung ở
            vùng
            bụng, chất
            béo không bão hòa đa tập trung nhiều hơn vào vùng cơ bắp, từ đó làm giảm chất béo lưu trữ, chống béo bụng.
            Bạn
            có thể
            thay cá hồi bằng cá thu hoặc cá trích.</p>
          <img src="http://cafefcdn.com/thumb_w/640/2017/3-1485867201432.jpg">
          <h5 class="author">Thanh Hằng</h5>
        </article>
        <div class="row">
          <div class="col-md-12">
            <div class="fb-comments" data-href="https://www.facebook.com/evolvietnamorg/?__tn__=%2Cd%2CP-R&amp;eid=ARDfbWAbKuujja22_MD4OzZWURgtC7fBJDfoG_Ap8R2N0l9u1hAvLYLvvOZwTIALq-8Ri4oMGLOXuISU"
              data-numposts="3"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row another-article">
          <div class="col-md-12 mb-2">
            <h4>Các bài viết liên quan</h4>
          </div>
          <div class="col-md-12 mb-3">
            <a href="#"><img src="https://cafefcdn.com/zoom/260_162/2019/2/18/heart-shaped-pizza-royalty-free-image-903182406-1549549497-15504317760911346231833-crop-15504317854992114288794.jpg"></a>
            <a href="#">
              <h3>Món ăn ngày tết</h3>
            </a>
            <span>7 món ăn ngon ngày tết bạn nên biết</span>
          </div>
          <div class="col-md-12 mb-3">
            <a href="#"><img src="https://cafefcdn.com/zoom/260_162/2019/2/19/gettyimages-580475435-1550569872847320255484-crop-1550569881755538942162.jpg"></a>
            <a href="#">
              <h3>Title</h3>
            </a>
            <span>content-short</span>
          </div>
          <div class="col-md-12 mb-3">
            <a href="#"><img src="https://cafefcdn.com/zoom/260_162/2019/2/18/heart-shaped-pizza-royalty-free-image-903182406-1549549497-15504317760911346231833-crop-15504317854992114288794.jpg"></a>
            <a href="#">
              <h3>Title</h3>
            </a>
            <span>content-short</span>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card" style="width: 18rem;">
            <a href="#"><img class="card-img-top" src="https://znews-photo.zadn.vn/w660/Uploaded/sgorvz/2017_02_16/rau_xanh_tang_cuong_co_bap_2.jpg"
                alt="Card image cap"></a>
            <div class="card-body">
              <a href="#">
                <h5 class="card-title">Bắp Cải</h5>
              </a>
              <p class="card-text">$5.00</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card" style="width: 18rem;">
            <a href="#"><img class="card-img-top" src="https://znews-photo.zadn.vn/w660/Uploaded/sgorvz/2017_02_16/rau_xanh_tang_cuong_co_bap_2.jpg"
                alt="Card image cap"></a>
            <div class="card-body">
              <a href="#">
                <h5 class="card-title">Bắp Cải</h5>
              </a>
              <p class="card-text">$5.00</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card" style="width: 18rem;">
            <a href="#"><img class="card-img-top" src="https://znews-photo.zadn.vn/w660/Uploaded/sgorvz/2017_02_16/rau_xanh_tang_cuong_co_bap_2.jpg"
                alt="Card image cap"></a>
            <div class="card-body">
              <a href="#">
                <h5 class="card-title">Bắp Cải</h5>
              </a>
              <p class="card-text">$5.00</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card" style="width: 18rem;">
            <a href="#"><img class="card-img-top" src="https://znews-photo.zadn.vn/w660/Uploaded/sgorvz/2017_02_16/rau_xanh_tang_cuong_co_bap_2.jpg"
                alt="Card image cap"></a>
            <div class="card-body">
              <a href="#">
                <h5 class="card-title">Bắp Cải</h5>
              </a>
              <p class="card-text">$5.00</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">Slide 5</div>
        <div class="swiper-slide">Slide 6</div>
        <div class="swiper-slide">Slide 7</div>
        <div class="swiper-slide">Slide 8</div>
        <div class="swiper-slide">Slide 9</div>
        <div class="swiper-slide">Slide 10</div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
{% endblock %}