{% extends './layout/layout.html' %}
{% block content %}
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Person</a></li>
      <li class="breadcrumb-item active" aria-current="page">detail</li>
    </ol>
  </nav>
  <h2 class="title-about">Thông tin cá nhân</h2>
  <article>
    <div class="row span-product">
      <div class="col-md-6 order-1">
        <h4>Tên:&nbsp;<span>Jackma</span></h4>
        <h4>Ngày sinh:&nbsp;<span>10/9/1964</span></h4>
        <h4>Nghề nghiệp:&nbsp;<span>CEO alibaba</span></h4>
        <h4>Địa chỉ liên hệ:&nbsp;<span>Trung Quốc</span></h4>
        <h4>Email:&nbsp;<span>abcd1234@gmail.com</span></h4>
        <h4>Số điện thoại:&nbsp;<span>098xxxxxx</span></h4>
      </div>
      <div class="col-md-6">
        <img src="https://photo-1-baomoi.zadn.vn/w1000_r1/17/11/07/170/23855943/1_71350.jpg" width="500" class="about-evol__img">
      </div>
    </div>
    <h3>Tiểu sử</h3>
    <p>là một doanh nhân người Trung Quốc. Ông còn có tên Mã Vân (tiếng Trung Quốc: 马云; sinh 10 tháng 9 năm 1964). Ông
      là
      người sáng lập và chủ tịch điều hành của Tập đoàn Alibaba, một gia đình của các doanh nghiệp dựa trên Internet
      rất
      thành công. Ông là doanh nhân Trung Quốc đại lục đầu tiên xuất hiện trên trang bìa của tạp chí Forbes.
      Tỷ phú Jack Ma thường làm hướng dẫn du lịch cho họ quanh thành phố miễn phí để thực hành và hoàn thiện tiếng Anh
      của
      mình. Sau đó trong thời trẻ, mặc dù đã hai lần thi trượt kỳ thi tuyển sinh, ông vẫn tiếp tục thi lần thứ ba mới
      đỗ vào
      Học viện sư phạm Hàng Châu (sau này đổi tên thành Đại học sư phạm Hàng Châu). Sau khi tốt nghiệp khoa tiếng Anh
      trường
      Hàng Châu năm 1988, ông dạy tiếng Anh nhiều năm ở Viện Kỹ thuật điện tử Hàng Châu với thu nhập 12 USD/tháng.
      Jack Ma lần đầu tiếp xúc Internet vào năm 1995 trong một chuyến đi ngắn tới thành phố Seattle. Ông đã tìm từ
      "beer"
      (bia) trên Yahoo! và nhanh chóng bị ám ảnh bởi mạng máy tính toàn cầu. Sau đó, ông thành lập công ty Internet đầu
      tiên
      của mình, một danh bạ trực tuyến tên là China Pages, nhưng năm sau đã từ bỏ, sau khi chính quyền ép thành lập
      liên
      doanh với một doanh nghiệp nhà nước.</p>
    <h3>Thành tựu</h3>
    <p>
      – 9/2014: Alibaba IPO thành công tại Mỹ với giá trị kỷ lục 25 tỷ USD – trở thành người giàu nhất
      Trung
      Quốc<br>
      – 12/2014: Trở thành người giàu nhất châu Á với tài sản 28,6 tỷ USD<br>
      – 29/1/2015: Mất 1,4 tỷ USD do cổ phiếu Alibaba giảm mạnh<br>
      – 2/2/2015: Tái chiếm ngôi vị giàu nhất châu Á với tài sản 36,4 tỷ USD.</p>
  </article>
</div>
{% endblock %}