{% extends './layout/layout.html' %}
{% block content %}
<section>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-style">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Blog</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detail</li>
      </ol>
    </nav>
    <article class="article-blog">
    <h1>“Đập tan” mỡ bụng sau những ngày Tết với 3 loại thực phẩm sau</h1>
    <span class="Categories">Đời sống</span><span class="time-post"> 10:00 20/2/2019</span>
    <h3>Tết với những bữa tiệc tùng đầy dầu mỡ khiến trọng lượng cơ thể tăng nhanh chóng và tích tụ nhiều mỡ, đặc biệt là vùng
    bụng. Những loại thực phẩm sau sẽ giúp bạn lấy lại vóc dáng thon gọn nhanh chóng và an toàn nhất.</h3>
    <img src="http://cafefcdn.com/thumb_w/650/2017/7-1485867081986.jpg" >
    <h4>Các loại ngũ cốc</h4>
    <p>Nghiên cứu của Tạp chí Dinh dưỡng Lâm sàng cho thấy, những người ăn nhiều ngũ cốc trong khẩu phần ăn hàng ngày có thể
    giảm tới 10% mô mỡ (đặc biệt ở vùng bụng) so với người ít ăn ngũ cốc. Hãy tìm mua những loại ngũ cốc 100% nguyên hạt,
    thay vì những loại pha lẫn hoặc chứa nhiều tinh bột.</p>
    <img src="http://cafefcdn.com/thumb_w/640/2017/1-1485867173945.jpg">
    <h4>Rau cải xanh</h4>
    <p>Các loại rau cải xanh đều chứa hàm lượng canxi và chất xơ cao. Canxi có trong rau cải xanh có thể làm giảm sản xuất
    cortisol, hormone stress liên kết với chất béo bụng. Ngoài ra, bạn có thể bổ sung thêm sữa chua, đậu phụ hoặc cá mòi.</p>
    <img src="http://cafefcdn.com/thumb_w/640/2017/2-1485867187407.jpg">
    <h4>Cá hồi</h4>
    <p>Trong cá hồi chứa nhiều chất béo không bão hòa đa. Không giống như chất béo bão hòa chủ yếu tập trung ở vùng bụng, chất
    béo không bão hòa đa tập trung nhiều hơn vào vùng cơ bắp, từ đó làm giảm chất béo lưu trữ, chống béo bụng. Bạn có thể
    thay cá hồi bằng cá thu hoặc cá trích.</p>
    <img src="http://cafefcdn.com/thumb_w/640/2017/3-1485867201432.jpg">
    <h5 class="author">Thanh Hằng</h5>
    </article>
    <h2>Các bài viết liên quan</h2>
    <div class="row another-article">
      <div class="col-6 col-md-4">
        <a href="#"><img src="https://cafefcdn.com/zoom/260_162/2019/2/18/heart-shaped-pizza-royalty-free-image-903182406-1549549497-15504317760911346231833-crop-15504317854992114288794.jpg"></a>
        <a href="#"><h3>Title</h3></a>
        <span>Ẩm thực</span>&nbsp;<span>12:05 19/02/2019</span>
      </div>
      <div class="col-6 col-md-4">
        <a href="#"><img src="https://cafefcdn.com/zoom/260_162/2019/2/19/gettyimages-580475435-1550569872847320255484-crop-1550569881755538942162.jpg"></a>
        <a href="#"><h3>Title</h3></a>
        <span>Đời sống</span>&nbsp;<span>12:05 19/02/2019</span>
      </div>
      <div class="col-6 col-md-4">
        <a href="#"><img src="https://cafefcdn.com/zoom/260_162/2019/2/18/heart-shaped-pizza-royalty-free-image-903182406-1549549497-15504317760911346231833-crop-15504317854992114288794.jpg"></a>
        <a href="#"><h3>Title</h3></a>
        <span>Du lịch</span>&nbsp;<span>12:05 19/02/2019</span>
      </div>
    </div>
  </div>
</section>
{% endblock %}