{% extends './layout/layout.html' %}
{% block content %}
<section class="product-evol">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-style">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Product</li>
      </ol>
    </nav>
    <h1 class="text-light">Các sản phẩm rau củ quả</h1>
    <ul class="row item-pr listMenu">
      <li class="card col-md-3 products">
        <a href="#"><img class="card-img-top" src="https://cdn.explus.vn/media.giadinhvietnam.com/files/phuongvu276/2018/10/23/rau-1045.jpg"
          alt="Card image cap"></a>
        <div class="card-body">
          <a href="#"><h5 class="card-title">Cải xanh</h5></a>
          <p class="card-text">$5.00</p>
          <a href="#" class="btn btn-primary">Chi tiết</a>
        </div>
      </li>
      <li class="card col-md-3">
        <a href="#"><img class="card-img-top" src="https://cdn.explus.vn/media.giadinhvietnam.com/files/phuongvu276/2018/10/23/rau-1045.jpg"
          alt="Card image cap"></a>
        <div class="card-body">
          <a href="#"><h5 class="card-title">Cải xanh</h5></a>
          <p class="card-text">$5.00</p>
          <a href="#" class="btn btn-primary">Chi tiết</a>
        </div>
      </li>
      <li class="card col-md-3">
        <a href="#"><img class="card-img-top" src="https://cdn.explus.vn/media.giadinhvietnam.com/files/phuongvu276/2018/10/23/rau-1045.jpg"
          alt="Card image cap"></a>
        <div class="card-body">
        <a href="#"><h5 class="card-title">Cải xanh</h5></a>
          <p class="card-text">$5.00</p>
          <a href="#" class="btn btn-primary">Chi tiết</a>
        </div>
      </li>
      <li class="card col-md-3">
        <a href="#"><img class="card-img-top" src="https://cdn.explus.vn/media.giadinhvietnam.com/files/phuongvu276/2018/10/23/rau-1045.jpg"
          alt="Card image cap"></a>
        <div class="card-body">
          <a href="#"><h5 class="card-title">Cải xanh</h5></a>
          <p class="card-text">$5.00</p>
          <a href="#" class="btn btn-primary">Chi tiết</a>
        </div>
      </li>
      <li class="card col-md-3">
        <a href="#"><img class="card-img-top" src="https://cdn.explus.vn/media.giadinhvietnam.com/files/phuongvu276/2018/10/23/rau-1045.jpg"
          alt="Card image cap"></a>
        <div class="card-body">
          <a href="#"><h5 class="card-title">Cải xanh</h5></a>
          <p class="card-text">$5.00</p>
          <a href="#" class="btn btn-primary">Chi tiết</a>
        </div>
      </li>
      <li class="card col-md-3">
        <a href="#"><img class="card-img-top" src="https://cdn.explus.vn/media.giadinhvietnam.com/files/phuongvu276/2018/10/23/rau-1045.jpg"
          alt="Card image cap"></a>
        <div class="card-body">
          <a href="#"><h5 class="card-title">Cải xanh</h5></a>
          <p class="card-text">$5.00</p>
          <a href="#" class="btn btn-primary">Chi tiết</a>
        </div>
      </li>
      <li class="card col-md-3">
        <a href="#"><img class="card-img-top" src="https://cdn.explus.vn/media.giadinhvietnam.com/files/phuongvu276/2018/10/23/rau-1045.jpg"
          alt="Card image cap"></a>
        <div class="card-body">
          <a href="#"><h5 class="card-title">Cải xanh</h5></a>
          <p class="card-text">$5.00</p>
          <a href="#" class="btn btn-primary">Chi tiết</a>
        </div>
      </li>
      <li class="card col-md-3">
        <a href="#"><img class="card-img-top" src="https://cdn.explus.vn/media.giadinhvietnam.com/files/phuongvu276/2018/10/23/rau-1045.jpg"
          alt="Card image cap"></a>
        <div class="card-body">
          <a href="#"><h5 class="card-title">Cải xanh</h5></a>
          <p class="card-text">$5.00</p>
          <a href="#" class="btn btn-primary">Chi tiết</a>
        </div>
      </li>
    </ul>
  </div>
  {% include "./common/pagi.html" %}
</section>
{% endblock %}